.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 30, 255, 0.7);
  }
  
  h2 {
    color: #001eff;
    text-align: center;
  }
  
  .input, .textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.1);
    color: white;
  }
  
  .input::placeholder, .textarea::placeholder {
    color: #bbb;
  }
  
  .button {
    background: #001eff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .button:hover {
    background: white;
    color: #001eff;
  }
  