.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(255, 30, 0, 0.7);
  }
  
  h2 {
    color: #ff1e00;
    text-align: center;
  }
  
  .input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.1);
    color: white;
  }
  
  .input::placeholder {
    color: #bbb;
  }
  
  .button {
    background: #ff1e00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .button:hover {
    background: white;
    color: #ff1e00;
  }
  