.container {
    padding: 2rem;
    background: linear-gradient(45deg, #222, #1a1a1a);
    border-radius: 10px;
  }
  
  .trackCard {
    background: var(--light-gray);
    padding: 1rem;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
  }
  
  .trackCard:hover {
    transform: scale(1.05);
    box-shadow: var(--neon-glow);
  }
  
  .trackImage {
    width: 100%;
    border-radius: 10px;
  }
  